/* styles.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f7f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(50, 15px);
  grid-template-rows: repeat(50, 15px);
  gap: 1px;
  border: 2px solid #ccc;
  background-color: #ddd;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.1);
}

.start {
  background-color: #ff9800;
}

.end {
  background-color: #039688;
}

.barrier {
  background-color: #37525f;
}

.open {
  background-color: #4caf50;
}

.closed {
  background-color: #f44336;
}

.path {
  background-color: #9c27b0;
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: translateY(-3px);
}

button:active {
  transform: translateY(0);
}

#clear {
  background-color: #f44336;
  color: white;
  margin-left: 40px;
}

#clear:hover {
  background-color: #d32f2f;
}

h1 {
  padding-right: 50px;
}
